<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ Squad Page }}</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/stylesheet.css">
    <script src="https://kit.fontawesome.com/a01a07aa47.js" crossorigin="anonymous"></script>
  </head>
 
<div class="content">
  <div class="music-player">
  
    <img src="https://spinning.cat/Images/oiia.png" class="image">

  {% for pizzaLover in pizzaLovers %}
    <img
      src="{{ pizzaLover.avatar }}"
      alt="{{ pizzaLover.name }}"
      height="100"
      width="100">
    <p>{{ pizzaLover.name }}</p>
    <p>Favorite Food: {{ pizzaLover.fav_kitchen }}</p>
    <p>Favorite Color:
      <span style="width: 20px; height: 20px; display: inline-block; background-color: {{ pizzaLover.fav_color }}"></span>
    </p>
  {% endfor %}
    
    <input type="range" value="0" id="progress">

    <div class="controls">
      <div class="fas fa-backward" id="prevPerson"></div>
      <div class="fas fa-forward" id="nextPerson"></div>
    </div>

 
  <body>  
    <h1>{{ Squad Page }}</h1>
    