{% render 'partials/head.liquid', title: 'Squad page' %}


<main>

<h1>Welkom bij de Team Awesome squad page</h1>
<h2>Onze studenten</h2>

<section class="filteren">

  <h1>Squadpage</h1>

  <p class="label">Filter met hobbby</p>

  <ul class="filter-hobby">
    <li><a class="filter" href="/hobby/gamen" class="button">Gamen</a></li>
    <li><a class="filter" href="/hobby/dammen" class="button">Dammen</a></li>
    <li><a class="filter" href="/hobby/chillen" class="button">chillen</a></li>
    <li><a class="filter" href="/hobby/coden" class="button">coden</a></li>
    <li><a class="filter" href="/hobby/festivals" class="button">festivals</a></li>
    <li><a class="filter" href="/hobby/fitness" class="button">fitness</a></li>
    <li><a class="filter" href="/hobby/haken" class="button">haken</a></li>
    <li><a class="filter" href="/hobby/lezen" class="button">lezen</a></li>
    <li><a class="filter" href="/hobby/schaken" class="button">schaken</a></li>
    <li><a class="filter" href="/hobby/sporten" class="button">sporten</a></li>
    <li><a class="filter" href="/hobby/uitgaan" class="button">uitgaan</a></li>
  </ul>


  <ul id="person-list">
    {% for person in persons %}

    <li class="student">

    <div class="img-area">
        {% if person.github_handle %}
          <img src="https://github.com/{{ person.github_handle }}.png" alt="{{ person.name }}">
        {% else %}
          <img src="https://static.vecteezy.com/system/resources/previews/014/194/215/original/avatar-icon-human-a-person-s-badge-social-media-profile-symbol-the-symbol-of-a-person-vector.jpg">
        {% endif %}
    </div>
    
      <h2>{{ person.name }}</h2>
            <p>{{ person.fav_hobby | default: "Ik heb geen favoritete hobby" }}
      </p>
      <div class="bio">
        <p>{{ person.bio | default: "Ik heb geen bio | truncatewords: 30 }}</p>
      </div>

        </a>
      </div>

    </li>

    {% endfor %}
  </ul>

</section>


{% for message in messages %}
<p>{{ message.from }}: {{ message.text }} @{{ message.created | date: '%d-%m-%Y %H:%M' }}</p>
{% else %}
<p>Er zijn nog geen comments.</p>
{% endfor %}

<h2>Voeg een comment toe</h2>
<form method="post" action="/">
  <label>
    Naam:
    <input type="text" name="from" required>
  </label>
  <label>
    Bericht:
    <textarea name="text" required></textarea>
  </label>
  <button type="submit">Verstuur</button>
</form>

  <script src="js/script.js"></script>
 </main>


{% render 'partials/foot.liquid', squads: squads %}