{% render 'partials/head.liquid', title: 'Squad page' %}


<body>
 <main class="container">
  {% comment %} 
    Stap1: Maak een kaartje voor 1 pizzalover
  {% endcomment %}
  {% for pizzaLover in pizzaLovers %}
    <img src="{{ pizzaLover.avatar }}" alt="{{ pizzaLover.name }}">
    <p>{{ pizzaLover.nickname }}</p> 
    <p>Favorite Food: {{ pizzaLover.fav_kitchen }}</p> 
    <p>Favorite Color: <span style="width: 20px; height: 20px; display: inline-block; background-color: {{ pizzaLover.fav_color }}"></span></p> 
  {% endfor  %}
 
  <script src="js/script.js"></script>
 </main>


{% render 'partials/foot.liquid', squads: squads %}