{% render 'partials/head.liquid', title: person.name %}

<main class="width-top-btm">

    <div class="link-back">
        <a class="back-link" href="/genre/alle-genres">
        <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M0.863281 5.71875L5.78906 0.767578C6.04297 0.539062 6.42383 0.539062 6.65234 0.767578L7.23633 1.35156C7.46484 1.58008 7.46484 1.96094 7.23633 2.21484L3.32617 6.125L7.23633 10.0605C7.46484 10.3145 7.46484 10.6953 7.23633 10.9238L6.65234 11.5078C6.42383 11.7363 6.04297 11.7363 5.78906 11.5078L0.863281 6.55664C0.634766 6.32812 0.634766 5.94727 0.863281 5.71875Z"/>
        </svg>
        Back</a>
    </div>
    
    <div class="detail">

        <img class="profile" src="{{ person.avatar | default: '/assets/default-user-avatar.svg' }}" alt="">
        <h1>{{ person.name }}</h1>
            <div class="bio">
                <p>{{ person.bio | default: "Ik heb geen bio" | truncatewords: 30 }}</p>
            </div>


        <div class="meer-info">
            <p><img class="label" src="/assets/books-icon.svg" alt="">{{ person.fav_book_genre | default: "Alle genres" }}</p>
            <p><img class="label" src="/assets/icons.svg" alt="">{{ person.fav_emoji| default: "Favoriete emoji" }}</p>
            <p><img class="label" src="/assets/heart.svg" alt="">{{ person.fav_hobby | default: "Favoriete Hobby" }}</p>
            <p><img class="label" src="/assets/paw.svg" alt="">{{ person.fav_animal | default: "Favoriete dier" }}</p>
            <p><img class="label" src="/assets/burger-soda.svg" alt="">{{ person.fav_kitchen | default: "Favoriete eten" }}</p>
            <p><img class="label" src="/assets/plane-departure.svg" alt="">{{ person.fav_country | default: "Favoriete land" }}</p>
        </div>

    </div>
</main>

{% render 'partials/foot.liquid', squads: squads %}